.goBack {
    margin: 1rem 0;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: .75rem 2rem;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}
.goBack:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
